h1 {color:#3A3845;}


body {font-size:20px;}
body {text-align:left;}
img {height:200px;}

body {
    background-color:#F3E9DD;}


body{font-family:Inconsolata;}
h1{font-family:Courier Prime;}

.main {
   color:#C69B7B;
}
 .firstandlast {
    color:#000000;}
